<div class="welcome-header">
  <h1 class="site-logo">FAUX GENIUS</h1>
  <div class="site-description">
    <p>
      This is a clone of the collaborative lyric annotation site <a href="http://genius.com">Genius</a>. Add songs or other texts, and annotate them simply by highlighting words of interest.
    </p>
    <p>
      Check out a featured song <a href="/#/articles/37">here</a>, and feel free to add your own!
    </p>
  </div>


</div>

<div class="featured-articles">
  <ul>
  <% articles.each(function (article) { %>
    <li>
      <a href="/#/articles/<%= article.id %>">
        <div class="article-block">
          <img src="<%= article.escape('image_url') %>" class="overlay">
          <div class="article-block-details">
            <h3 class="article-title"><%= article.escape('title') %></h3>
            <h4 class="article-artist"><%= article.escape('artist_name') %></h4>
          </div>
        </div>
      </a>
    </li>
  <% }); %>
  </ul>
</div>
