<div class="popover annotation-prompt">
  <div class="arrow"></div>
  <a href="#">
    <div class="popover-inner"><h3 class="popover-title"></h3>
      <div class="popover-content">
        <p></p>
      </div>
    </div>
  </a>
</div>