<div class="article-container">
  <div class="article-header">
    <div class="article-title">
      <h2><%= article.escape('title') %></h2>
    </div>
    <div class="article-artist">
      <h4><%= article.escape('artist') %></h4>
    </div>
  </div>
  <div class="row">
    <div class="article-text col-md-7"></div>
    <div class="annotation-container col-md-4"></div>
  </div>
  <div class="row">
    <div class="suggestions-container col-md-6"></div>
  </div>
</div>
