<div class="article-container">
  <div class="article-header">
    <h2><%= article.escape('title') %></h2>
    <h4><%= article.escape('artist') %></h4>
  </div>
  <button class="annotate-button" hidden="true">Annotate</button>
  <div class="article-text"
       data-toggle="popover"
       data-placement="top"
       data-content="Annotate"
       data-container="body"
       data-trigger="manual"></div>
  <div class="annotation-container"></div>
</div>
