<form class="navbar-form navbar-right" 
      role="search"
      id="searchbar">
  <div class="form-group">
    <input type="text" 
           class="form-control" 
           name="search[query]"
           placeholder="Search">
  </div>
</form>
<!-- <span class="glyphicon glyphicon-search"></span> -->