<form class="annotation-form">
  <div class="form-group">
    <textarea name="annotation[body]" 
              class="annotation-form-body form-control"
              placeholder="Write an Annotation"><%= annotation.escape('body') %></textarea>
  </div>
  <a href="#" class="add-image-link">Add an Image</a>
  <input type="submit" value="Submit" class="btn btn-default">
  <a href="#" class="annotation-cancel">cancel</a>
</end>