<form class="annotation-form">
  <div class="form-group">
    <textarea name="annotation[body]" 
              class="annotation-form-body form-control"
              placeholder="Write an Annotation"></textarea>
  </div>
  <input type="submit" value="Submit" class="btn btn-default">
</end>