<div class="annotation-contents">
  <p class="annotation-body"><%= marked(annotation.escape('body')) %></p>

  <h6>(annotation of "<%= annotation.escape('slug') %>")</h6>
  <div class="suggestions-container"></div>
</div>