<div class="annotation-contents">
  <div class="annotation-credit">
    Annotation by <a href="/#/users/<%= annotation.author.id %>">
      <%= annotation.author.escape('username') %>
    </a>
  </div>
  <p class="annotation-body"><%= marked(annotation.escape('body')) %></p>

  <div class="suggestions-container"></div>
</div>