<form role="form" id="artist-description-form">
  <textarea 
    class="form-control" 
    name ="artist[description]"
    placeholder="A tale from the artist's life, or one of the artist's little-known superpowers."></textarea>
    <input type="submit" value="Submit" class="form-control btn btn-default">
    <button class="cancel-button btn btn-default">Cancel</button>
</form>