<div class="modal fade" id="prompt-login-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      
      <div class="modal-body">
        <p>Sign up or log in to get started!</p>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default">
            <input type="radio" name="sign-up" id="sign-up-prompt">Sign Up
          </label>
          <label class="btn btn-default">
            <input type="radio" name="log-in" id="log-in-prompt">Log In
          </label>
        </div>
        
        <div class="sign-up-form" style="display: none">
          <%= render partial: 'users/form', locals: { kind: "Sign Up" } %>
        </div>
        <div class="log-in-form", style="display: none">
          <%= render partial: 'users/form', locals: { kind: "Log In" } %>
        </div>
        <%= render partial: 'users/guest_signin' %>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  $(function () {
    // console.log($('#sign-up-prompt'));
    $('#sign-up-prompt').on('change', function (event) {
      console.log("click??");
      $('.sign-up-form').show();
      $('.log-in-form').hide();
    });
    $('#log-in-prompt').on('change', function (event) {
      console.log("click??");
      $('.sign-up-form').hide();
      $('.log-in-form').show();
    });
    
  });
</script>