<a href="#"
   class="dropdown-toggle 
          notification-dropdown 
          <% if (notifications.length > 0) { %>active<% } %>"
   data-toggle="dropdown">
   <span class="glyphicon glyphicon-bell">
   <%= notifications.length %>
 </a>
   
<ul class="dropdown-menu notification-list" role="menu">
</ul>
