/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$genius-gold: rgb(255, 195, 28);
$genius-lightgold: rgb(255, 208, 79);
$genius-bg: rgb(20, 20, 20);
$genius-lightgray: rgb(238, 238, 238);
$genius-gray: rgb(204, 204, 204);
$genius-mid-darkgray: rgb(102, 102, 102);
$genius-darkgray: rgb(53, 53, 53);

body {
  margin: 0 5%;
  background-color: $genius-bg;
}


.navbar {
  
//  .navbar-h
  .navbar-brand {
    color: $genius-gold;
  }
  .navbar-brand:hover {
    color: $genius-lightgold;
  };
  
}

.annotation-container {
  width: 40%;
  position: fixed;
  right: 0;
}

.popover {
  background: $genius-gold;
  a {
    color: black; 
  }
  
  :hover {
    color: $genius-lightgray;
    text-decoration: none;
//    background: $genius-lightgold;
//    font-weight: bold;
  };
}

.popover.top .arrow:after {
  border-top-color: $genius-gold;
}

//.popover:hover.top .arrow:after {
// border-top-color: $genius-lightgold;
//};

.article-container {
  
  .article-header {
    .article-title {
      background-color: $genius-gold;
      width: 50%;
    }
    .article-artist {
      color: white;
    }
  }
  
  #article-body {
    background-color: rgb(20, 20, 20);
    color: $genius-gray;
    font-size: 14px;
  
    a {
      background-color: $genius-darkgray;
      color: white;
      text-decoration: none;
    }
  
    a:hover {
      background-color: $genius-gold;
      color: black;
    };
  }
  
}

.annotation-container {
  color: $genius-lightgray;
  border-left: thin solid $genius-gold;
  
  .annotation-contents {
  }
}

.suggestion-list {

  list-style-type: none;

  .suggestion-content {
    color: $genius-lightgray;
    border: thin solid $genius-mid-darkgray;
  
    .suggestion-header {
      border-bottom: thin solid $genius-mid-darkgray;
    }
  }

}

#new-article-form {
  textarea {
    width: 90%;
    background-color: white;
    color: black;
  }
}

.suggestion-form textarea {
  width: 100%;
  
}