/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Abel);
//@import url(http://fonts.googleapis.com/css?family=Titillium+Web:600);
//@font-face {
//  font-family: 'Din Condensed';
//  src:url('DINCondensedCyrillic.ttf');
//}

$genius-font: 'Abel';
$genius-gold: rgb(255, 195, 28);
$genius-lightgold: rgb(255, 208, 79);
$genius-bg: rgb(20, 20, 20);
$genius-lightgray: rgb(238, 238, 238);
$genius-gray: rgb(204, 204, 204);
$genius-mid-darkgray: rgb(102, 102, 102);
$genius-darkgray: rgb(53, 53, 53);


body {
  margin: 0 5%;
  background-color: $genius-bg;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
};


.navbar {
  
  .navbar-brand {
    font-family: $genius-font, sans-serif;
    color: $genius-gold;
  }
  .navbar-brand:hover {
    color: $genius-lightgold;
  };
    
}

.annotation-container {
  width: 40%;
  position: absolute;
  right: 0;  
}



.popover {
  background: $genius-gold;
  a {
    color: black; 
  }
  
  :hover {
    color: $genius-lightgray;
    text-decoration: none;
  };
}

.popover.top .arrow:after {
  border-top-color: $genius-gold;
}

.article-container {
  
  .article-header:before {
   background:url('tooth_bg.png'); 
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   opacity: 0.4;
   content:"";
  }
  
  .article-header {
    
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
    
    img {
      z-index: -1;
      vertical-align: middle;
      min-width: 100%;
      min-height: 150%;
      position: absolute;
      top: -50%;
      opacity: 0.6;
    }
    
    .article-subdetails {
      position: absolute;
      right: 10px;
      top: 20px;
      color: $genius-lightgray;
      a {
        padding: 2px;
        background: rgba(10, 10, 10, 0.7);;
        color: white;
      }
      a:hover {
        background: rgba(10, 10, 10, 0.9);
      };
    }
    
    .article-details {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      
      .article-title, .article-artist {
        margin: 0;
        display: inline-block;
        
      }
      
      .article-title {
        background-color: $genius-gold;
        max-width: 50%;
      }
      
      .article-artist {
        background-color: rgba(10, 10, 10, 0.7);
        color: white;
      }
      span {
        letter-spacing: -1px;
        padding: 10px;
        font-family: $genius-font, sans-serif;
      }
    }
    
  }
  
  #article-body {
    background-color: rgb(20, 20, 20);
    color: $genius-gray;
    font-size: 14px;
  
    a {
      background-color: $genius-darkgray;
      color: white;
      text-decoration: none;
    }
  
    a:hover, a.active {
      background-color: $genius-gold;
      color: black;
    };
    
  }
  
}

.annotation-container {
  color: $genius-lightgray;
  border-left: thin solid $genius-gold;
  
  .annotation-contents {
    img {
      max-width: 100%;
    }
  }
}

.suggestion-list {
  list-style-type: none;
  padding: 0;

  .suggestion-content {
    color: $genius-lightgray;
    border: thin solid $genius-mid-darkgray;
    img {
      max-width: 100%;
    }
  
    .suggestion-header {
      border-bottom: thin solid $genius-mid-darkgray;
    }
  }

}

#home-page {
  .welcome-header {
//    text-align: center;
    border: thin solid azure;
    height: 200px;
    position: relative;
    h1.site-logo {
      font-size: 6em;
      margin: 0;
      line-height: 200px;
      text-align: center;
      color: $genius-gold;
      font-family: $genius-font;
    }
  }
  
  .featured-articles {
    
    font-family: $genius-font;
    
    li {
      display: inline-block;
      margin: 10px;
      position: relative;
    }
    
    .article-block:before {
      background:url('tooth_bg.png');
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.3;
      content: "";
    }
    
    .article-block:hover img {
      opacity: 0.8;
    };
    
    .article-block {
      display: inline-block;
      width: 330px;
      height: 240px;
      position: relative;
      overflow: hidden;
      
      img {
        z-index: -1;
        max-width: 100%;
//        max-height: 100%;
//        height: 100%;
        opacity: 0.6;
        transition: opacity 0.2s;
        position:relative;
      }
            
      .article-block-details {
        position: absolute;
        bottom: 0;
        left: 10px;
        width: 90%;
        color: white;
      }
    }
  }
  
}

#new-article-form {
  color: white;
  input[type=text] {
    color: black;
    background-color: white;
  }
  textarea {
    width: 90%;
    background-color: white;
    color: black;
  }
}

.suggestion-form textarea.form-control {
  width: 100%;
  background: #333;
  color: #ccc;
  
}

#search-results {
  .results-summary {
    .glyphicon {
      margin-right: 4px;
    }
    color: white;
    border-bottom: thin solid $genius-darkgray;
  }
}

#artist-show {
  color: white;
  
  h1.artist-name {
    border-bottom: thin solid white;
  }
  
  .artist-details {
    img {
      width: 100%;
    }
    pre {
      word-wrap: normal;
    }
    
    .artist-album-list {
      list-style-type: none;
      padding-left: 0;
      a {
        li {
          border-top: thin solid $genius-darkgray;
        }
        
        color: #5ba7c2;
        :hover {
          color: white;
        };
      }
    }
  }
}

.article-list { // used on search results and artist show
  list-style-type: none;
  padding-left: 0;
  a { 
    li {
      border-bottom: thin solid $genius-darkgray;
    
      .article-title {
        color: white;
      }
    
      .article-artist {
        color: $genius-gray;
      }
    }
    
    :hover {
      text-decoration: none;
      border-left: 3px solid $genius-gold;
      transition: border .2s;
      -webkit-transition: border .2s ease-in-out;
      
      * {
        border-left: none;
      }
    };
  } 
}

#album-show {
  h1.album-title {
    color: white;
  }
  .album-artist {
    color: $genius-lightgray;
  }
  
  .album-art {
    img {
      width: 100%;
    }
  }
}

#user-show {
  color: white;
  
  .user-info {
    img {
      width: 100%;
    }
    h1 {
      font-family: $genius-font, sans-serif;
      color: $genius-gold;
      border-bottom: 2px solid $genius-gold;
      margin-top: 8px;
    }
  }
  
  .user-contributions {
    
    .nav-tabs > li.active > a {
      background-color: rgb(49, 45, 50);
      color: white;
    }
    
    .nav-tabs > li > a {
      background-color: rgb(75, 69, 77);
      color: white;
      border: none;
    }
    
    .nav-tabs > li > a:hover {
      background-color :#5ba7c2;
      color: white;
    }
    
   .nav-tabs > li.active > a:hover {
     background-color: rgb(49, 45, 50);
   }
    
    ul.nav {
      border-bottom: 6px solid rgb(49, 45, 50);
//      li.active {
//        background: rgb(49, 45, 50);
//      }
//
//      li {
//        background: #4b454d;
//        color: white;
//      }
//
//      a {
//        color: white;
//      }
    }
    
    .user-annotations-list {
      list-style-type: none;
      padding-left: 0;
    }
    
    
    .user-suggestions {
      padding-left: 0px;
      list-style-type: none;
      background: rgb(30, 30, 30);
      
      .suggestion-context {
        margin: 20px 10px;
        a {
          color: $genius-gold;
        }
      
        a:hover {
          color: $genius-lightgold;
          text-decoration: none;
        }
        
        color: #999;
      }
      
      
      li {
        border-bottom: thin solid $genius-darkgray;
        .suggestion-body {
          width: 90%;
          margin: 0 auto;
          img {
            max-width: 100%;
          }
        }
      }
      
    }
    
    .user-articles {
      padding-left: 0;
      list-style-type: none;
      
      a {
        color: #aaa;
        transition: color 0.2s;
      }
      
      a:hover {
        color: #ede8e9;
      };
      
      li {
        border-bottom: thin solid $genius-darkgray;
        padding: 10px;
      }
    }
  }
  
}

.btn.btn-default.btn-sm.btn-follow, .btn.btn-default.btn-sm.btn-unfollow {
  background-color: #4f3a00;
  border: 1px solid #826000;
  color: $genius-gold;
  padding: 2px 8px;
  margin: 2px 0;
}
.btn.btn-default.btn-sm.btn-follow:hover, .btn.btn-default.btn-sm.btn-unfollow:hover {
  background-color: #362700;
};


.btn-unfollow {
  content: "Following";
}
.btn_unfollow:hover {
  content: "Unfollow!";
};

ul.notification-list {
  li {
    border-bottom: thin solid $genius-gray;
    width: 100%;
    time {
      display: block;
      color: $genius-gray;
    }
    div.form-group {
      margin-bottom: 0;
    }
  }
  li:last-child {
    border-bottom: none;
  };
  
  img.user-icon {
    width: 30px;
  }
  max-height: 600px;
  overflow: auto;
}

.annotation-partial {
  border-bottom: thin solid $genius-gray;
  
  .annotation-standalone-header {
    background: #222;
    padding: 10px 20px;
    
    .annotation-slug {
      color: $genius-gold;
      :hover {
        color: $genius-lightgold;
      };
    }
    a {
       color: #5ba7c2;            
    }
    a:hover {
       color: #1992d5;
     }

  }
  
  
  .annotation-body {
    background: rgb(20, 20, 20);
    padding: 20px;
    color: white;
    
    img {
      max-width: 100%;
    }
  }
  
  .annotation-controls {
    background: $genius-bg;
    a {
//      color: ;
    }
  }
}

.modal-content {
  background: #292929;
  color: white;
  
  .modal-header {
    border-bottom: none;
    color: $genius-lightgray;
  }
}

//.btn-default {
//  transition: background .2s, color .2s;
//}

.annotation-form {
  textarea {
    rows: 8;
  }
}

.btn-default {
 border: thin solid #777; 
 background: #444;
 color: #fff;
}

.btn-default:hover {
  border: thin solid #777; 
  background: #555;
  color: #fff;
};

textarea.form-control, input.form-control {
  border: thin solid #555;
  background: #333;
  color: white;
}

input.form-control {
  
}

.suggestions-container {
  background: #141414;
}