<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#/">Rap Genome</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/#/articles/new">Create</a>
      </li>
    </ul>
  </div>
</nav>
      <!--if signed in -->
      