<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#/">
        FAUX GENIUS
      </a>
    </div>
    


    
    <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
      <li>
        <a href="/#/articles/new">Create</a>
      </li>
      <li>
        <a href="/#/users/<%= current_user.id %>" class="current-user-link">
          <img src="<%= current_user.image_url %>" class="current-user-icon">
        </a>
        <%#= link_to current_user.username, "/#/users/#{current_user.id}" %>
      </li>
      <li>
        <%= link_to 'Sign out', session_url, method: :delete %>
      </li>
      <% else %>
      <li>
        <a href="#"
           data-toggle="modal"
           data-target="#sign-up-modal">Sign up</a>
      <li>
        <a href="#"
           data-toggle="modal"
           data-target="#sign-in-modal">Sign in</a>
      </li>
      <% end %>
    </ul>
    
    
    <div class="searchbar-container"></div>
  </div>
</nav>
      <!--if signed in -->
      